.title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -0.5px;
  color: #151515;
  margin: 0 0 50px;
}

@media screen and (max-width: 400px) {
  .title {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 1.25;
  }
}