.gallery__description {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  text-decoration: none;
  transition: .25s;
}

.gallery__description:hover {
  opacity: .7;
}
