.title_place_trainee {
  grid-area: title;
}

@media screen and (max-width: 600px) {
  .title_place_trainee::before {
    content: '';
    width: calc(100% - 2*18px);
    border: 1px solid #e3e3e3;
    position: absolute;
    top: 40px;
    margin: auto;
  }
}
