.trainee__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: #151515;
  text-decoration: none;
  transition: opacity .25s;
}

.trainee__link:hover {
  color: #696969;
  opacity: .7;
}

@media screen and (max-width: 400px) {
  .trainee__link {
    font-size: 14px;
    line-height: 1.43;
  }
}